html {
  box-sizing: border-box;
      font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-weight: 100;
    line-height: 1.53333;
    color: #000;
}

section {
  display: block;
}

div.wrapper {
  margin: 0 auto;
  position: relative;
}

.page-head {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: #b4d5ff;
    color: #000;
}

.container {
    max-width: 87.5em;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.features .top-container {
    background-color: #47b4e0;
}

.menu-btn {
    width: 70px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 66%;
    display: block;
    position: absolute;
    top: 6px;
    right: 0px;
    z-index: 100;
}

.main-content {
    background: #fff;
}

.features .top-container {
    background-color: #47b4e0;
}

.top-container {
    padding-top: 6em;
}

.top-container .top-container-heading {
    font-size: 50px;
    font-size: 3.33333rem;
    line-height: 1.38;
    margin-bottom: 0.3em;
}

.main-content .container {
    padding: 7em 2em;
}

.top-container .top-container-heading {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.top-container .top-container-sub-heading {
    color: #fff;
    text-align: center;
}

.features .features-list {
    text-align: center;
    color: #fff;
}

.big-feature-text {
      max-width: 38%;
          position: absolute;
    top: 50%;
}

.split-feature {
    border-top: 1px solid #f3efeb;
    border-bottom: 1px solid #f3efeb;
    position: relative;
        z-index: 10;
}

.grey-block {
    background-color: #f3efeb;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 0;
    display: block;
}



.list-left {
    width: 36%;
    vertical-align: top;
        text-align: center;
}

.list-right {
      float: right;
    width: 45%;
    text-align: center;
}


